body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  height: 100%;
}
.App {
  background-image: url('../public/worldbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; /* Using viewport width */
  height: 100vh; /* Using viewport height */
  overflow: hidden; /* Ensure no scrollbars */
}

.navbar {
  color: #F4C37B;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  width: stretch;
  justify-content: space-between;
  align-items: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.navbar ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.navbar ul li {
  list-style-type: none;
} 

.navbar ul li a {
  color: #F4C37B;
  text-decoration: none;
  padding: 10px;
  
}
.navbar ul li a:hover{
  border-color: #F4C37B;
  border: 2px solid #F4C37B;
  border-radius: 20%;
}
.body-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: none;
  color: white;
  font-size: x-large;
  height: 100vh;  
}

.left-side {
  width: 100%; /* Default to full width */
  margin: 10px;
}

.right-side {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(10px);
  border-top-left-radius: 30px;
  width: 0; /* Default to zero width */
}
.close-button {
  position: absolute; 
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position as needed */
  font-size: x-large;
  color:#F4C37B;
  font-weight: 600;
  background: none;
  border: none;
}
.split-view .left-side {
  width: 40%; /* Set width to 40% when split view is active */
}

.split-view .right-side {
  width: 60%; /* Set width to 50% when split view is active */
}
.body-content h2{
  color: #F4C37B;
  font-family: "Madimi One", sans-serif;
  font-weight: 200;
  font-style: normal;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.inputlink{
  background-color: white;
  font-size: large;
  opacity: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
}
.startbutton{
  color: white;
  background-color: #F4C37B;
  font-size: large; 
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 8px #F4C37B;
}
@media (max-width: 600px) {
  .body-content {
    flex-direction: column;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
  .split-view .left-side {
    width: 100%; 
  }
  .split-view .right-side {
    width: 100%; 
  }
}